a {
    text-decoration: underline;
    cursor:pointer;
    color:white;
}
ul li {
    list-style-type: none;
    background-color: rgb(143, 37, 37);
    width:40px;
    padding:10px;
    font-size:16px;
    cursor:pointer;
}
li {
    cursor:pointer;
    width:100% !important;
    text-align:center;
    color:white;
}
p {
    text-align:center;
    font-weight: bolder;
}